<div class="principal">
  <header class="top-header">
    <nav class="header-nav">
      <h3>Duck Dodgers</h3>
      <ul>
        <li><a href="#about">About us</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <img
    src="https://images.fancaps.net/images/tv/Duck_Dodgers_S01/ep09/Duck_Dodgers_S01_Screenshot_0068.jpg"
    class="img-topo" alt="">

  <main>
  </main>
  <footer>
  </footer>
</div>